*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

aside{
  width: 230px;
  height: 100vh;
  background-color: black;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

aside img{
  width: 120px;
  margin-top: 20px;
  margin-left: 20px;
}

#menu{
  color: grey;
  margin-top: 30px;
}

.menu-item{
  padding: 10px 0;
  padding-left: 20px;
}

.menu-item:hover{
  color: white;
  border-left: 3px solid green;
  text-decoration: none;
}

.menu-item i{
  margin-right: 15px;
}

#recenti{
  color: grey;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 12px;
}

#recenti p{
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 5px;
}

#recenti p:hover{
  color: white;
}

#log-in{
  color: grey;
  margin-left: 20px;
  font-size: 12px;
  margin-top: 150%;
}

#log-in hr{
  margin:15px 0;
  margin-right: 20px;
}

#log-in span{
  margin-left: 10px;
}

main{
  width: 100%;
  height: 100%;
  background-color: grey;
  padding-left: 230px;

}

.container-flex{
  display: flex;
  justify-content: center;

}

.container-flex ul li{
  margin: 30px 20px;
  text-transform: uppercase;
  font-size: 12px;

}

.container-flex ul li:hover{
  color: white;
}

.options{
  display: flex;
  list-style: none;
}

.container-h2{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.container-album{
  max-width: 60%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.album{
  width: 130px;
  margin: 10px;
}

.album img{
  max-width: 100%;
}

.album p{
  text-align: center;
  color: white;

}

main h2{
  color: white;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 50px;
}

#player{
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #272727;
  display: flex;
  justify-content: space-between;
}

.flex-item {
  color: grey;
  display: flex;
}

.flex-item i{
  margin: 5px 10px;
}

.flex-item i:hover{
  color: white;
}

.little-album{
  height: 50px;
  width: 50px;
}

.little-album img{
  width: 100%;
}



@media screen and (max-width: 768px;){
   .options li{
     display: none;
   }


}
